.idea
.ipynb_checkpoints
data/
test/local_node/state/

# Python Env Stuff

.venv/
venv/
__pycache__/
.pytest_cache

# Direnv Stuff

.env
.envrc

# Dont save the state to Github. This might be a mistake?

state/

.vscode/
